temp/**

node_modules/

## Parcel
.cache/
dist/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# sass
.sass-cache/

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

.fable
.ionide
