<!DOCTYPE html>
<html ng-app="munchkin-counter">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <style>
        body {
            font-family: Consolas, Menlo, monospace;
        }

        .nav,
        .pagination,
        .carousel,
        .panel-title a {
            cursor: pointer;
        }

        .top-margin {
            margin-top: 35px;
        }

        .right-margin {
            margin-right: 15px;
        }

        .level-text {
            font-size: 36px;
            vertical-align: bottom;
        }

        .winner-text {
            font-size: 24px;
        }

        .total-text {
            font-size: 48px;
            vertical-align: baseline;
            color: green;
        }

        .label-text {
            font-size: 18px;
        }

        .opaque {
            opacity: 0.3;
        }

        .toggled { max-height: 5px; min-height: 5px; height: 5px; }
    </style>

    <script>
        var deps = [
            'ui.bootstrap'
        ];
        var app = angular.module('munchkin-counter', deps);
        app.controller('appController', function appControler() {

            this.newPlayer = function(playerNumber) {
                return {
                    name: "Player " + playerNumber,
                    level: 0,
                    bonuses: 0,
                    curses: 0,
                    total: function() {
                        var result = this.level + this.bonuses - this.curses;
                        return result < 0 ? 0 : result;
                    }
                };
            };

            this.startGame = function() {
                this.playerNum = Number(this.playerNum);

                if (this.playerNum == NaN || !this.playerNum) {
                    this.playerNum = 0;
                }

                if (this.playerNum > 0) {
                    this.gameStarted = true;
                }

                for (let i = 1; i <= this.playerNum; i++) {
                    this.players.push(this.newPlayer(i));
                }
            };

            this.selectAllText = function ($event) {
                var element = $event.target;
                element.setSelectionRange(0, element.value.length);
            };

            this.addOne = function(player, stat) {
                player[stat] += 1;
            };

            this.removeOne = function(player, stat) {
                player[stat] -= 1;

                if (player[stat] < 0)
                    player[stat] = 0;
            };

            this.init = function() {
                this.playerNum = 0;
                this.gameStarted = false;
                this.players = [];
            };

            this.confirmReset = function() {
                var answer = prompt("Do you want to start a new game? (Yes or No)");
                if (answer.toLowerCase() === "yes") {
                    this.init();
                }
            }

            this.isLoser = function(player) {
                var weHaveWinner = this.players.some(function(x) {
                    return x.level >= 10;
                });

                return weHaveWinner && player.level < 10;
            };

            this.init();
        });
    </script>
</head>

<body ng-controller="appController as $ctrl">
    <!-- <pre ng-class="{ 'toggled': $ctrl.toggleDebugPanel }" ng-click="$ctrl.toggleDebugPanel = !$ctrl.toggleDebugPanel">{{ $ctrl | json}}</pre> -->
    <div class="container-fluid" ng-if="!$ctrl.gameStarted">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="playerCount">
                        How many players are going to play?
                    </label>
                    <input type="text" ng-model="$ctrl.playerNum" ng-click="$ctrl.selectAllText($event)" class="form-control" id="playerCount">
                </div>

                <button type="button" class="btn btn-primary" ng-click="$ctrl.startGame()">Start Game</button>
            </div>
        </div>
    </div>

    <div class="container-fluid" ng-if="$ctrl.gameStarted">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div ng-repeat="player in $ctrl.players" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default" ng-class="{ opaque: $ctrl.isLoser(player) }">
                    <div class="panel-heading">
                        <h3 class="panel-title" ng-if="player.level < 10">
                            <input type="text" style="display: inline-block !important" class="form-control" ng-model="player.name" ng-click="$ctrl.selectAllText($event)">
                        </h3>
                        <h3 class="panel-title" ng-if="player.level >= 10">
                            <span class="winner-text">
                                🏆 👑 {{ player.name}} wins! 👑 🏆
                            </span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <span class="label-text right-margin">Level&nbsp;&nbsp;</span>
                            <span class="right-margin">
                                <button type="button" ng-click="$ctrl.addOne(player, 'level')" class="btn-lg btn-primary">+</button>
                                <button type="button" ng-click="$ctrl.removeOne(player, 'level')" class="btn-lg btn-primary">-</button>
                            </span>
                            <span class="level-text" ng-bind="player.level"></span>
                        </div>
                        <div class="top-margin">
                            <span class="label-text right-margin">Bonuses</span>
                            <span class="right-margin">
                                <button type="button" ng-click="$ctrl.addOne(player, 'bonuses')" class="btn-lg btn-primary">+</button>
                                <button type="button" ng-click="$ctrl.removeOne(player, 'bonuses')" class="btn-lg btn-primary">-</button>
                            </span>
                            <span class="level-text" ng-bind="player.bonuses"></span>
                        </div>
                        <div class="top-margin">
                            <span class="label-text right-margin">Curses&nbsp;</span>
                            <span class="right-margin">
                                <button type="button" ng-click="$ctrl.addOne(player, 'curses')" class="btn-lg btn-primary">+</button>
                                <button type="button" ng-click="$ctrl.removeOne(player, 'curses')" class="btn-lg btn-primary">-</button>
                            </span>
                            <span class="level-text" ng-bind="player.curses"></span>
                        <div class="top-margin">
                            <span class="label-text right-margin">
                                Total
                            </span>
                            <span class="right-margin">
                            </span>
                            <span class="total-text" ng-bind="player.total()"></span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger" ng-click="$ctrl.confirmReset()">Start new game</button>
            </div>
        </div>
</body>

</html>