.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.top-margin {
    margin-top: 35px;
}

.bottom-margin {
    margin-bottom: 12px;
}

.right-margin {
    margin-right: 15px;
}

.level-text {
    font-size: 36px;
    vertical-align: bottom;
}

.winner-text {
    font-size: 24px;
}

.total-text {
    font-size: 36px;
    color: green;
}

.label-text {
    font-size: 18px;
}

.opaque {
    opacity: 0.3;
}

.toggled { max-height: 5px; min-height: 5px; height: 5px; }

.name-field {
    width: 100%;
}

div.player-panel > div.p-panel > div.p-panel-header > span.p-panel-title {
    width: 100%;
}

.flex-align-center {
    align-items: center;
}